<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar" id="sidebar">
            <nav>
                <ul>
                    <li><a href="tutor_dashboard.html">Dashboard</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="availability.html">Availability</a></li>
                    <li><a href="sessions.html">Upcoming sessions</a></li>
                    <li><a href="resources.html">Resources</a></li>
                    <li><a href="reviews.html" id="reviews">Reviews</a></li>
                    <li><a href="settings.html">Settings</a></li>
                    <li><a href="#" onclick="handleLogoutt()"><span>Logout</span></a></li>
                </ul>
            </nav>
        </aside>

    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div id = "content" class="main-content">
        <h1>Feedback from students will appear here</h1>
        <div id = "review-list"></div>
    </div>

    

    <script src="./theaderFooter.js"></script>
    <script src="../Client-servers/login.js"></script>
    <script src="../TClient-servers/review.js"></script>
</body>
</html>