<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="main-content">
        <h1>YOUR CONFIRMED UPCOMING SESSIONS WILL APPEAR HERE</h1>
        <h2>Pending Sessions</h2>
        <div id = "pending-list" class="session-container"></div>
        <h2>Confirmed Sessions</h2>
        <div id = "confirmed-list" class="session-container"></div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../Client-servers/login.js"></script>
    <script src="../TClient-servers/sessions.js"></script>
    <script src="./theaderFooter.js"></script>
</body>
</html>