#show-courses-btn {
    background-color: #62b1f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

#current-course-list li {
    list-style: none;
}

#courses {
    display: none;
}

